<IfModule mod_rewrite.c>

Order allow,deny
Allow from all

RewriteEngine On

#if not localhost, redirect to https
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !=localhost
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#if file doesn't exist, redirect to root
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . / [L,R=301]

#todo: remove .php extension, index and index.php

</IfModule>